ENV=dev

APP_NAME=Movie Reservation System
APP_DEFAULT_COUNTRY_DIAL_CODE=62
APP_DEFAULT_SUPPORT_EMAIL=me@wsws.my.id
# Provide 32 byte secret
APP_SECRET=8rIxrLXM3THtMAd5//X8RLqSDy5Yk+GWzYytcPOZUSo=

AUTH_JWT_ISSUER_IDENTIFIER=user-service
AUTH_JWT_AUDIENCE_IDENTIFIERS=user-service,movie-service,reservation-service,theater-service,ticket-service

SERVICE_IDENTIFIER=theater-service
SERVICE_HTTP_PORT=8104
SERVICE_HTTP_BASE_URL=localhost:8104
SERVICE_HTTP_BASE_PATH=/
SERVICE_HTTP_READ_TIMEOUT=60s
SERVICE_HTTP_WRITE_TIMEOUT=30s
SERVICE_HTTP_ENABLE_CORS=false

FRONTEND_URL=localhost:8000

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=mrs-theater-service
DB_MAX_IDLE_CONN=20
DB_MAX_OPEN_CONN=10
DB_MAX_LIFETIME_IN_MINUTE=5

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_PASS=secret

GRPC_PORT=9104

KAFKA_BROKERS=localhost:9092
KAFKA_VERSION=3.9.0
KAFKA_CONSUMER_GROUP=theater-service
KAFKA_TOPIC_USER_REGISTERED_V1=public.user.registered.v1

LOG_TYPE=loki
LOG_LEVEL=debug
LOKI_URL=http://localhost:3100

TRACER_TYPE=jaeger
OTEL_ENDPOINT=localhost:4318
OTEL_INSECURE=true

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=root
SMTP_PASSWORD=root
SMTP_DEFAULT_SENDER="Wendy <wendy@example.com>"

MAILGUN_DOMAIN=mg.example.com
MAILGUN_API_KEY=aaaaaaaaabbbbbbbbccccc
MAILGUN_DEFAULT_SENDER="Wendy <me@example.com>"

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=Vaaaaaaaaaaaaaaaaa
